//components
$primary: #6f4f37; //primary buttons, headers, and calls-to-action
$secondary: #3e2b2a; //lighter elements, background sections, or hover effects on buttons.
$accent: #d8cab8; //footer, secondary buttons, and borders

//text
$primary-text: #f4f1ec; //regular text, headings, and product names.
$secondary-text: #3e2b2a; //smaller details, footnotes, and secondary information
$accent-text: #b29c85; //price, special offers, or call-to-action buttons

//bg
$primary-bg: #d1c8b1;
$secondary-bg: #e8d6b3;
