//components
$primary: #6f4f37; //primary buttons, headers, and calls-to-action
$secondary: #3e2b2a; //lighter elements, background sections, or hover effects on buttons.
$accent: #d8cab8; //footer, secondary buttons, and borders

//text
$primary-text: #f4f1ec; //regular text, headings, and product names.
$accent-text: #b29c85; //price, special offers, or call-to-action buttons
$danger-text: #ff4d4f;
$yellow-1: #ffc53d;
$yellow-3: #c78d42;
$blue-1: #40a9ff;
$brown-1: #4a3d2b;

//bg
$primary-bg: #d1c8b1;
$secondary-bg: #f1e0c6;
$blue-2: #1890ff;
$yellow-2: #faad14;
