@import "/src/assets/scss/color.scss";
@import "/src/assets/scss/breakpoints.scss";

.productModal {
  background-color: $secondary-bg;
  padding: 10px 12px;

  .productModalContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include responsive("smDown") {
      flex-direction: column;
    }
  }

  .productModalImage {
    max-width: 300px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    @include responsive("smDown") {
      max-height: 200px;
    }
  }

  .productModalDetails {
    margin-left: 20px;
    max-width: 350px;
  }

  .productModalTitle {
    color: $secondary;
    font-weight: bold;
  }

  .productModalCategory {
    display: block;
    color: $primary;
    margin-bottom: 10px;
  }

  .productModalPrice {
    display: block;
    color: $primary;
    font-size: 18px;
    margin-bottom: 15px;
  }

  .productModalDescription {
    font-size: 16px;
    color: $secondary;
    margin-bottom: 15px;
    @include responsive("smDown") {
      max-height: 100px;
      overflow-y: scroll;
    }
  }

  .productModalRating {
    margin-top: 10px;
  }

  .productModalRatingCount {
    margin-left: 8px;
    color: $primary;
  }

  .productModalCloseButton {
    background-color: $primary;
    color: $primary-text;
    border: none;
    right: 10px;
    @include responsive("smDown") {
      right: 8px;
      bottom: 10px;
    }
    &:hover {
      color: $primary !important;
      background-color: transparent !important;
      border: 1px solid $primary !important;
    }
  }
}
