@import "/src/assets/scss/color.scss";

.container {
  margin: 0 auto;
  background-color: $secondary-bg;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  .form {
    margin-top: 20px;
    .label {
      color: $primary;
      > span {
        color: $danger-text;
        margin-left: 2px;
      }
    }
    .input {
      background-color: $primary-text;
      border: 1px solid $secondary;
      border-radius: 4px;
      color: $secondary;
    }
    .submitButton {
      background-color: $primary;
      border-color: $primary;
      color: $primary-text;
      border-radius: 4px;
      font-weight: bold;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: transparent !important;
        color: $primary !important;
      }
    }
  }
  .error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $danger-text;
  }
}
.action {
  color: $accent-text;
  cursor: pointer;
  &:hover {
    font-weight: 600;
  }
}
