@import "/src/assets/scss/color.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  gap: 8px;
  .filterWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search {
      width: 50%;
    }
  }
  .btnWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
  }
  .viewButton {
    background-color: $blue-2;
    color: $primary-text;
    &:hover {
      background-color: transparent;
      color: $blue-1 !important;
      border-color: $blue-1 !important;
    }
  }
  .updateButton {
    background-color: $yellow-2;
    color: $primary-text;
    &:hover {
      background-color: transparent;
      color: $yellow-1 !important;
      border-color: $yellow-1 !important;
    }
  }
  .deleteButton {
    background-color: $danger-text;
    color: $primary-text;
    &:hover {
      background-color: transparent;
      color: $danger-text !important;
      border-color: $danger-text !important;
    }
  }
}
