@import "/src/assets/scss/color.scss";

.updateModal {
  .ant-modal-content {
    background-color: $primary-text;
    border-radius: 8px;
    padding: 20px;
  }

  .modalContent {
    display: flex;
    flex-direction: column;
  }

  .formGroup {
    margin-bottom: 16px;

    label {
      font-size: 14px;
      font-weight: bold;
      color: $brown-1;
      margin-bottom: 8px;
    }
  }
  .updateButton {
    background-color: $yellow-2;
    color: $primary-text;
    &:hover:enabled {
      background-color: transparent !important;
      color: $yellow-1 !important;
      border-color: $yellow-1 !important;
    }
  }
  .modalFooter {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}
