@import "/src/assets/scss/color.scss";

.container {
  margin: 0 auto;
  background-color: $secondary-bg;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $danger-text;
  }
}
.action {
  color: $accent-text;
  cursor: pointer;
  &:hover {
    font-weight: 600;
  }
  &.disable {
    pointer-events: none !important;
  }
}
